<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>Learn Memory</title>
        <meta name="viewport" content="width=device-width">
        <link href="//cedced19.github.io/img/favicon.ico" rel="shortcut icon" type="image/x-icon">
        <!-- build:css /vendor/css/styles.css -->
        <link rel="stylesheet" href="/vendor/css/main.css">
        <link rel="stylesheet" href="/vendor/css/bootstrap.css">
        <!-- endbuild -->
    </head>
    <body ng-app="LearnMemory" ng-controller="LearnMemoryCtrl">

        <div class="container" ng-show="error != true">

            <ul class="nav nav-pills">
                <li ng-class="{ active: currentFolder == 'list' }"><a href="#">List ({{ items.length }})</a></li>
                <li ng-class="{ active: currentFolder == 'creation' }"><a href="#/creation"><span class="glyphicon glyphicon-edit"></span> Create</a></li>
            </ul>

            <p class="info">{{info}}</p>

            <div ng-show="currentFolder == 'list'">
            <input ng-model="search" type="text" class="form-control" placeholder="Search">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Substance</th>
                        <th>Content</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in items | filter:search | orderBy:'date':true" ng-click="goItem(item)">
                        <td>{{item.substance}}</td>
                        <td>{{removeHtml(item.content) | limitTo : 20}} ...</td>
                        <td>{{item.date | date: 'dd/MM/yyyy' }}</td>
                    </tr>
                </tbody>
            </table>
            </div>

            <div ng-show="currentFolder == 'creation'">
                <form name="formCreation">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Substance" ng-model="newItem.substance">
                    </div>
                    <div class="input-group">
                        <textarea rows="20" class="form-control" placeholder="Text" ng-model="newItem.content" ng-keyup="displayPreview()"></textarea>
                    </div>
                    <div ng-bind-html="preview"></div>
                    <div class="text-center">
                        <button class="btn btn-success" ng-click="displayLesson()">Adding new item</button>
                    </div>
            </div>

            <div ng-show="currentFolder == 'item'">
                <div class="well">
                <p><label>Substance: </label> {{currentItem.substance}}</p>
                <p><label>Date: </label> {{currentItem.date | date: 'dd/MM/yyyy' }}</p>
                </form>
                <p>
                <label>Remove:</label>
                <span ng-click="waitConfirm = true" ng-show="!waitConfirm" class="glyphicon glyphicon-trash"></span>
                <span ng-click="removeLesson(currentItem)" ng-show="waitConfirm" class="glyphicon glyphicon-ok"></span>
                </p>
                </div>
                <div ng-bind-html="currentItem.content"></div>
            </div>

        </div>

            <!-- build:js /vendor/js/scripts.js -->
            <script type="text/javascript" src="/vendor/js/angular.min.js"></script>
            <script type="text/javascript" src="/vendor/js/angular-sanitize.min.js"></script>
            <script type="text/javascript" src="/vendor/js/markdown/angular-marked.js"></script>
            <script type="text/javascript" src="/vendor/js/markdown/marked.js"></script>
            <script type="text/javascript" src="/vendor/js/app.js"></script>
            <!-- endbuild -->
    </body>
</html>
