<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>Learn Memory</title>
        <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon">
        <meta name="viewport" content="width=device-width">
        <!-- build:css /vendor/css/styles.css -->
        <link rel="stylesheet" href="/vendor/css/bootstrap.css">
        <link rel="stylesheet" href="/vendor/css/font-awesome.css">
        <link rel="stylesheet" href="/vendor/css/sweet-alert.css">
        <link rel="stylesheet" href="/vendor/css/text-angular.css">
        <link rel="stylesheet" href="/vendor/css/main.css">
        <!-- endbuild -->
    </head>
    <body ng-app="LearnMemory" ng-swipe-right="hideMenu()" ng-swipe-left="showMenu()">
        <div class="site-container" ng-app="LearnMemory" ng-swipe-right="hideMenu()" ng-swipe-left="showMenu()">
            <div class="site-pusher">
                <header class="header">
                    <a class="header-icon" ng-click="showMenu()"></a>
                    <nav class="menu" ng-hide="init">
                        <a ng-click="hideMenu('/')" ng-class="{active: nav == 'list'}"><span class="fa fa-list"></span> List</a>
                        <a ng-click="hideMenu('/creation')" ng-class="{active: nav == 'creation'}"><span class="fa fa-pencil-square-o"></span> Create</a>
                    </nav>
                    <span class="header-logo">Learn Memory</span>
                </header>

                <div class="site-content">
                    <div class="container" autoscroll="true" ng-view>
                        <noscript>
                            <h1>Houston, we have a problem.</h1>
                            <p>You must enable Javascript to use this applications.</p>
                        </noscript>
                    </div>
                </div>

                <div class="site-cache" ng-click="hideMenu()"></div>
            </div>
        </div>

        <!-- build:js /vendor/js/scripts.js -->
        <script type="text/javascript" src="/vendor/js/alert/sweet-alert.js"></script>
        <script type="text/javascript" src="/vendor/js/angular.min.js"></script>
        <script type="text/javascript" src="/vendor/js/alert/ng-sweet-alert.js"></script>
        <script type="text/javascript" src="/vendor/js/angular-sanitize.min.js"></script>
        <script type="text/javascript" src="/vendor/js/angular-routes.min.js"></script>
        <script type="text/javascript" src="/vendor/js/angular-touch.min.js"></script>
        <script type="text/javascript" src="/vendor/js/edit/text-angular-rangy.min.js"></script>
        <script type="text/javascript" src="/vendor/js/edit/text-angular-sanitize.min.js"></script>
        <script type="text/javascript" src="/vendor/js/edit/text-angular.min.js"></script>
        <script type="text/javascript" src="/vendor/js/app.js"></script>
        <!-- endbuild -->
    </body>
</html>
