<div ng-class="{ 'form-inline': short }">
    <input ng-model="search" type="text" class="form-control" placeholder="{{ 'search' | translate }}">
    <button ng-click="advancedSearch()" ng-show="short" class="btn btn-default" translate="advenced_search"></button>
</div>
<div class="table-responsive" infinite-scroll="load()">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>{{ 'subject' | translate }}</th>
                <th>{{ 'content' | translate }}</th>
                <th>{{ 'last_update' | translate }}</th>
                <th ng-hide="short">{{ 'creation_date' | translate }}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="lesson in lessons | filter:search | orderBy:'updatedAt':true" ng-click="goLesson(lesson)" class="fade">
                <td>{{ lesson.substance }}</td>
                <td><span class="blur">{{ lesson.keywords | limitTo : 24 }}</span></td>
                <td>{{ 'date' | translate:{date: lesson.updatedAt} }}</td>
                <td ng-hide="short">{{ 'date' | translate:{date: lesson.createdAt} }}</td>
            </tr>
        </tbody>
    </table>
</div>
<button ng-hide="loading || terminal" ng-click="load()" translate="more" class="btn btn-default float-right"></button>
<p ng-show="loading" class="text-center">
  {{ 'loading' | translate }}...
</p>
