<h2>Log in</h2>
<form name="formLogin">
    <div class="form-group">
        <label for="name">Name:</label>
        <input id="name" name="name" ng-model="name" type="text" class="form-control" placeholder="Name" required>
    </div>
    <div class="form-group">
        <label for="password">Password:</label>
        <input id="password" name="password" ng-model="password" type="password" class="form-control" placeholder="Password" required>
    </div>
    <div class="form-group">
        <i>You haven't account? Create it <a href="#/signup">here</a>.</i>
    </div>
    <div class="form-group">
        <button class="btn btn-success" ng-disabled="formLogin.$invalid" ng-click="login()">Log in</button>
    </div>
</form>
