<p class="lesson-error" ng-show="update">
    {{ 'new_version' | translate }} <a href="{{update}}">{{ 'learn_more' | translate }}</a>.
</p>
<p class="lesson-info" ng-hide="update">
    {{ 'last_version' | translate }}
</p>
<div class="form-inline">
    <input ng-model="search" type="text" class="form-control" placeholder="{{ 'search' | translate }}">
    <input ng-click="createUser()" type="submit" class="btn btn-default" value="{{ 'add_user' | translate }}">
</div>
<h2>{{ 'users' | translate }}</h2>
<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>{{ 'name' | translate }}</th>
                <th>{{ 'actions' | translate }}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="user in users | filter:search | orderBy:id" class="fade">
                <td>{{user.id}}</td>
                <td>{{user.name}}</td>
                <td>
                    <span class="fa fa-trash" ng-click="deleteUser(user)"></span>
                    <span class="fa fa-pencil" ng-click="updateUser(user)"></span>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<h2>{{ 'registrants' | translate }}</h2>
<div class="table-responsive" ng-show="registrants.length">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>{{ 'name' | translate }}</th>
                <th>{{ 'actions' | translate }}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="registrant in registrants| filter:search | orderBy:id" class="fade">
                <td>{{registrant.id}}</td>
                <td>{{registrant.name}}</td>
                <td>
                    <span class="fa fa-trash" ng-click="deleteRegistrant(registrant)"></span>
                    <span class="fa fa-user-plus" ng-click="addUser(registrant)"></span>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<p ng-hide="registrants.length">{{ 'no_registrant' | translate }}</p>
