<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>Learn Memory</title>
        <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="/stylesheets/styles.css">
        <meta name="theme-color" content="#2E214B">
        <meta name="msapplication-navbutton-color" content="#2E214B">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    </head>
    <body ng-app="LearnMemory" ng-swipe-right="$menu.hide()" ng-swipe-left="$menu.show()">
        <div class="site-container">
            <div class="site-pusher">
                <header class="header">
                    <a class="header-icon" ng-click="$menu.show()"></a>
                    <nav class="menu" ng-hide="init">
                        <a ng-click="$menu.hide('/')" ng-class="{active: nav == 'lessons'}"><span class="fa fa-list"></span> {{ 'lessons' | translate }}</a>
                        <a ng-click="$menu.hide('/login')" ng-hide="user" ng-class="{active: nav == 'login'}"><span class="fa fa-user"></span> {{ 'login' | translate }}</a>
                        <a ng-click="$menu.hide('/lessons/new')" ng-show="user" ng-class="{active: nav == 'creation'}"><span class="fa fa-pencil-square-o"></span> {{ 'create' | translate }}</a>
                        <a ng-click="$menu.hide('/languages')" ng-show="user" ng-class="{active: nav == 'languages'}"><span class="fa fa-globe"></span> {{ 'languages' | translate }}</a>
                        <a ng-click="$menu.hide('/users')" ng-show="user" ng-class="{active: nav == 'users'}"><span class="fa fa-user"></span> {{ 'users' | translate }}</a>
                        <a ng-click="$menu.logout()" ng-show="user"><span class="fa fa-power-off"></span> {{ 'logout' | translate }}</a>
                    </nav>
                    <span class="header-logo">Learn Memory</span>
                </header>

                <div class="site-content">
                    <div class="container" autoscroll="true" ng-view>
                        <noscript>
                            <h1>Houston, we have a problem.</h1>
                            <p>You must enable Javascript to use this applications.</p>
                        </noscript>
                    </div>
                </div>

                <div class="site-cache" ng-click="$menu.hide()"></div>
            </div>
        </div>

        <script type="text/javascript" src="/javascripts/scripts.js"></script>
    </body>
</html>
