::selection {
	color:#FFF;
	background-color:#2E214B
}
button,h1,h2,input,textarea {
	font-family:inherit;
	color:inherit
}
input:-webkit-autofill {
	-webkit-box-shadow:0 0 0px 1000px #fff inset
}
.table,label {
	max-width:100%
}
.btn,.table,button {
	cursor:pointer
}
.btn-group>.btn,.btn-toolbar .btn-group,.header-logo {
	float:left
}
.btn-group {
	position:relative
}
.btn-group>.btn {
	position:relative
}
.input-group {
	position:relative
}
html {
	font-family:sans-serif;
	-webkit-text-size-adjust:100%;
	-ms-text-size-adjust:100%;
	-webkit-tap-highlight-color:transparent
}
header,nav {
	display:block
}
a {
	background:0 0
}
a:active,a:hover {
	outline:0
}
h1 {
	margin:.67em 0;
	font-size:36px
}
button,input,textarea {
	margin:0;
	font:inherit;
	font-size:inherit;
	line-height:inherit
}
button {
	overflow:visible;
	text-transform:none;
	-webkit-appearance:button
}
button::-moz-focus-inner {
	padding:0;
	border:0
}
input::-moz-focus-inner {
	padding:0;
	border:0
}
textarea {
	overflow:auto;
	resize:none
}
table {
	border-spacing:0;
	border-collapse:collapse
}
td,th {
	padding:0
}
@media print {
	* {
		color:#000 !important;
		text-shadow:none !important;
		background:0 0 !important;
		box-shadow:none !important
	}
	a {
		text-decoration:underline
	}
	a:visited {
		text-decoration:underline
	}
	thead {
		display:table-header-group
	}
	tr {
		page-break-inside:avoid
	}
	h2,p {
		orphans:3;
		widows:3
	}
	h2 {
		page-break-after:avoid
	}
	.table {
		border-collapse:collapse !important
	}
	.table td,.table th {
		background-color:#fff !important
	}
}
*,:after,:before {
	box-sizing:border-box
}
body {
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
	color:#333;
	background-color:#fff
}
a:focus,a:hover {
	color:#2a6496;
	text-decoration:underline
}
a:focus {
	outline:dotted thin;
	outline:-webkit-focus-ring-color auto 5px;
	outline-offset:-2px
}
h1 {
	font-weight:500;
	line-height:1.1;
	margin-top:20px;
	margin-bottom:10px
}
h2 {
	font-weight:500;
	line-height:1.1;
	margin-top:20px;
	margin-bottom:10px;
	font-size:30px
}
p {
	margin:0 0 10px
}
.text-center {
	text-align:center
}
.container {
	padding-right:15px;
	padding-left:15px;
	margin-right:auto;
	margin-left:auto
}
@media (min-width:768px) {
	.container {
		width:750px
	}
}
@media (min-width:992px) {
	.container {
		width:970px
	}
}
@media (min-width:1200px) {
	.container {
		width:1170px
	}
}
table {
	background-color:transparent
}
th {
	text-align:left
}
.btn {
	text-align:center
}
.table {
	width:100%;
	margin-bottom:20px
}
.table>tbody>tr>td,.table>thead>tr>th {
	padding:8px;
	line-height:1.42857143;
	vertical-align:top;
	border-top:1px solid #ddd
}
.btn,.form-control {
	background-image:none;
	padding:6px 12px;
	font-size:14px;
	line-height:1.42857143
}
.table>thead>tr>th {
	vertical-align:bottom;
	border-bottom:2px solid #ddd
}
.table>thead:first-child>tr:first-child>th {
	border-top:0
}
.table-striped>tbody>tr:nth-child(odd)>td {
	background-color:#f9f9f9
}
.table-hover>tbody>tr:hover>td {
	background-color:#2e214b;
	color:#ecf0f1
}
@media screen and (max-width:767px) {
	.table-responsive {
		width:100%;
		margin-bottom:15px;
		overflow-x:auto;
		overflow-y:hidden;
		-webkit-overflow-scrolling:touch;
		-ms-overflow-style:-ms-autohiding-scrollbar;
		border:1px solid #ddd
	}
	.table-responsive>.table {
		margin-bottom:0
	}
	.table-responsive>.table>tbody>tr>td,.table-responsive>.table>thead>tr>th {
		white-space:nowrap
	}
}
label {
	display:inline-block;
	margin-bottom:5px;
	font-weight:700
}
.form-control {
	display:block;
	width:100%;
	height:34px;
	color:#555;
	background-color:#fff;
	border:1px solid #ccc;
	box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);
	transition:border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s
}
.btn,.btn-group {
	display:inline-block;
	vertical-align:middle
}
.form-control:focus {
	border-color:#66afe9;
	outline:0;
	box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6)
}
.form-control::-moz-placeholder {
	color:#777;
	opacity:1
}
.form-control:-ms-input-placeholder {
	color:#777
}
textarea.form-control {
	height:auto
}
.form-group {
	margin-bottom:15px
}
@media (min-width:768px) {
	.form-inline .form-control {
		display:inline-block;
		width:80%;
		vertical-align:middle
	}
	.form-inline .btn {
		display:inline-block;
		width:19%;
		vertical-align:middle
	}
}
@media (max-width:768px) {
	.form-inline .form-control {
		width:100%
	}
	.form-inline .btn {
		margin-top:6px;
		width:100%
	}
}
.btn {
	margin-bottom:0;
	font-weight:400;
	white-space:nowrap;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	border:1px solid transparent
}
.btn-group>.btn:not(:first-child):not(:last-child):not(.dropdown-toggle),.input-group .form-control:not(:first-child):not(:last-child) {
	border-radius:0
}
.btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle),.input-group .form-control:first-child {
	border-top-right-radius:0;
	border-bottom-right-radius:0
}
.btn-group>.btn:last-child:not(:first-child),.input-group .form-control:last-child {
	border-top-left-radius:0;
	border-bottom-left-radius:0
}
.btn.active:focus,.btn:active:focus {
	outline:dotted thin;
	outline:-webkit-focus-ring-color auto 5px;
	outline-offset:-2px
}
.btn:focus {
	outline:dotted thin;
	outline:-webkit-focus-ring-color auto 5px;
	outline-offset:-2px;
	color:#333;
	text-decoration:none
}
.btn:hover {
	color:#333;
	text-decoration:none
}
.btn.active,.btn:active {
	background-image:none;
	outline:0;
	box-shadow:inset 0 3px 5px rgba(0,0,0,0.125)
}
.btn[disabled] {
	pointer-events:none;
	cursor:not-allowed;
	filter:alpha(opacity=65);
	box-shadow:none;
	opacity:.65
}
.btn-default {
	color:#333;
	background-color:#fff;
	border-color:#ccc
}
.btn-default.active,.btn-default:active,.btn-default:focus,.btn-default:hover {
	color:#333;
	background-color:#e6e6e6;
	border-color:#adadad
}
.btn-default.active,.btn-default:active {
	background-image:none
}
.btn-default[disabled] {
	background-color:#fff;
	border-color:#ccc
}
.btn-default[disabled]:active,.btn-default[disabled]:focus,.btn-default[disabled]:hover {
	background-color:#fff;
	border-color:#ccc
}
.btn-success {
	color:#fff;
	background-color:#5cb85c;
	border-color:#4cae4c
}
.btn-success:active,.btn-success:focus,.btn-success:hover {
	color:#fff;
	background-color:#449d44;
	border-color:#398439
}
.btn-success:active {
	background-image:none
}
.fade {
	opacity:0;
	transition:opacity 0.15s linear
}
.btn-group>.btn.active,.btn-group>.btn:active,.btn-group>.btn:focus,.btn-group>.btn:hover {
	z-index:2
}
.btn-group>.btn:focus {
	outline:0
}
.btn-group .btn+.btn {
	margin-left:-1px
}
.btn-toolbar {
	margin-left:-5px
}
.btn-toolbar>.btn-group {
	margin-left:5px
}
.btn-group>.btn:first-child {
	margin-left:0
}
.input-group {
	display:table;
	border-collapse:separate
}
.input-group .form-control {
	position:relative;
	z-index:2;
	float:left;
	width:100%;
	margin-bottom:0;
	display:table-cell
}
.error {
	color:#e74c3c
}
.btn-toolbar:after,.btn-toolbar:before {
	display:table;
	content:" "
}
.container:after,.container:before {
	display:table;
	content:" "
}
.btn-toolbar:after,.container:after {
	clear:both
}
@-ms-viewport {
	width:device-width
}
@font-face {
	font-family:FontAwesome;
	src:url(../fonts/fontawesome-webfont.eot?v=4.3.0);
	src:url(../fonts/fontawesome-webfont.eot?#iefix&v=4.3.0) format("embedded-opentype"),url(../fonts/fontawesome-webfont.woff2?v=4.3.0) format("woff2"),url(../fonts/fontawesome-webfont.woff?v=4.3.0) format("woff"),url(../fonts/fontawesome-webfont.ttf?v=4.3.0) format("truetype"),url(../fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular) format("svg");
	font-weight:400;
	font-style:normal
}
.fa {
	display:inline-block;
	font:normal normal normal 14px/1 FontAwesome;
	font-size:inherit;
	text-rendering:auto;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
	-webkit-transform:translate(0,0);
	-ms-transform:translate(0,0);
	transform:translate(0,0);
	cursor:pointer
}
.fa-user:before {
	content:"\f007"
}
.fa-repeat:before {
	content:"\f01e"
}
.fa-print:before {
	content:"\f02f"
}
.fa-bold:before {
	content:"\f032"
}
.fa-italic:before {
	content:"\f033"
}
.fa-align-left:before {
	content:"\f036"
}
.fa-align-center:before {
	content:"\f037"
}
.fa-align-right:before {
	content:"\f038"
}
.fa-list:before {
	content:"\f03a"
}
.fa-outdent:before {
	content:"\f03b"
}
.fa-indent:before {
	content:"\f03c"
}
.fa-picture-o:before {
	content:"\f03e"
}
.fa-pencil:before {
	content:"\f040"
}
.fa-pencil-square-o:before {
	content:"\f044"
}
.fa-ban:before {
	content:"\f05e"
}
.fa-link:before {
	content:"\f0c1"
}
.fa-list-ul:before {
	content:"\f0ca"
}
.fa-list-ol:before {
	content:"\f0cb"
}
.fa-strikethrough:before {
	content:"\f0cc"
}
.fa-underline:before {
	content:"\f0cd"
}
.fa-undo:before {
	content:"\f0e2"
}
.fa-quote-right:before {
	content:"\f10e"
}
.fa-code:before {
	content:"\f121"
}
.fa-youtube-play:before {
	content:"\f16a"
}
.fa-trash:before {
	content:"\f1f8"
}
.fa-power-off:before {
	content:"\f011"
}
.fa-user-plus:before {
    content: "\f234";
}
.fa-globe:before {
		content: "\f0ac"
}
.ta-hidden-input {
	width:1px;
	height:1px;
	border:none;
	margin:0;
	padding:0;
	position:absolute;
	top:-10000px;
	left:-10000px;
	opacity:0;
	overflow:hidden
}
.ta-root.focussed>.ta-scroll-window.form-control {
	border-color:#66afe9;
	outline:0;
	box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6)
}
.ta-editor.ta-html {
	min-height:300px;
	height:auto;
	overflow:auto;
	font-family:inherit;
	font-size:100%
}
.ta-scroll-window.form-control {
	min-height:300px;
	height:auto;
	overflow:auto;
	font-family:inherit;
	font-size:100%;
	position:relative;
	padding:0
}
.ta-scroll-window>.ta-bind {
	height:auto;
	min-height:300px;
	padding:6px 12px
}
.ta-editor:focus {
	-webkit-user-select:text;
	-moz-user-select:text;
	-ms-user-select:text;
	user-select:text
}
.ta-resizer-handle-overlay {
	z-index:100;
	position:absolute;
	display:none
}
.ta-resizer-handle-overlay>.ta-resizer-handle-info {
	position:absolute;
	bottom:16px;
	right:16px;
	border:1px solid #000;
	background-color:#FFF;
	padding:0 4px;
	opacity:.7
}
.ta-resizer-handle-overlay>.ta-resizer-handle-background {
	position:absolute;
	bottom:5px;
	right:5px;
	left:5px;
	top:5px;
	border:1px solid #000;
	background-color:rgba(0,0,0,0.2)
}
.ta-resizer-handle-overlay>.ta-resizer-handle-corner {
	width:10px;
	height:10px;
	position:absolute
}
.ta-resizer-handle-overlay>.ta-resizer-handle-corner-tl {
	top:0;
	left:0;
	border-left:1px solid #000;
	border-top:1px solid #000
}
.ta-resizer-handle-overlay>.ta-resizer-handle-corner-tr {
	top:0;
	right:0;
	border-right:1px solid #000;
	border-top:1px solid #000
}
.ta-resizer-handle-overlay>.ta-resizer-handle-corner-bl {
	bottom:0;
	left:0;
	border-left:1px solid #000;
	border-bottom:1px solid #000
}
.ta-resizer-handle-overlay>.ta-resizer-handle-corner-br {
	bottom:0;
	right:0;
	border:1px solid #000;
	cursor:se-resize;
	background-color:#fff
}
.popover {
	position:absolute;
	top:0;
	left:0;
	z-index:1060;
	display:none;
	max-width:276px;
	padding:1px;
	font-size:14px;
	font-weight:400;
	line-height:1.42857143;
	text-align:left;
	white-space:normal;
	background-color:#fff;
	background-clip:padding-box;
	border:1px solid #ccc;
	border:1px solid rgba(0,0,0,0.2);
	border-radius:6px;
	box-shadow:0 5px 10px rgba(0,0,0,0.2)
}
.header-logo,.lesson-info .substance,.menu a.active {
	font-weight:700
}
.popover.bottom {
	margin-top:10px
}
.popover-content {
	padding:9px 14px
}
.popover>.arrow {
	position:absolute;
	display:block;
	width:0;
	height:0;
	border-color:transparent;
	border-style:solid;
	border-width:11px
}
.popover>.arrow:after {
	position:absolute;
	display:block;
	width:0;
	height:0;
	border-color:transparent;
	border-style:solid;
	content:"";
	border-width:10px
}
.popover.bottom>.arrow {
	top:-11px;
	left:50%;
	margin-left:-11px;
	border-top-width:0;
	border-bottom-color:#999;
	border-bottom-color:rgba(0,0,0,0.25)
}
.popover.bottom>.arrow:after {
	top:1px;
	margin-left:-10px;
	content:" ";
	border-top-width:0;
	border-bottom-color:#fff
}
body,html {
	font-size:16px;
	line-height:1.4;
	height:100%;
	margin:0;
	padding:0
}
a {
	text-decoration:none;
	color:inherit
}
.input-group {
	width:100%;
	margin-bottom:15px
}
\::-moz-selection,::selection {
	background-color:#2e214b;
	color:#ecf0f1
}
@-webkit-keyframes fadeIn {
	0% {
		opacity:0
	}
	100% {
		opacity:1
	}
}
@keyframes fadeIn {
	0% {
		opacity:0
	}
	100% {
		opacity:1
	}
}
.fade {
	-webkit-animation-duration:.7s;
	animation-duration:.7s;
	-webkit-animation-fill-mode:both;
	animation-fill-mode:both;
	-webkit-backface-visibility:visible !important;
	backface-visibility:visible !important;
	-webkit-animation-name:fadeIn;
	animation-name:fadeIn
}
.site-content {
	padding-top:76px
}
.blur {
    display: inline-block;
    position: relative;
}
.blur:after {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 3em;
    content: '';
    background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1)));
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
    background: linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 );
}
tr:hover td .blur:after {
	background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(46,33,75,1) 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(46,33,75,1)));
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(46,33,75,1) 100%);
	background: -o-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(46,33,75,1) 100%);
	background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(46,33,75,1) 100%);
	background: linear-gradient(left, rgba(255,255,255,0) 0%,rgba(46,33,75,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#2e214b',GradientType=1 );
}
.header {
	position:fixed;
	left:0;
	right:0;
	height:66px;
	line-height:66px;
	color:#FFF;
	background-color:#2E214B;
	z-index:9000
}
.header-logo {
	font-size:20px;
	padding:0 25px
}
.menu {
	float:right;
	margin-right:auto;
	padding-right:15px
}
.menu a {
	padding:0 10px;
	cursor:pointer;
	text-decoration:none
}
.lesson-error,.lesson-info {
	padding:15px;
	overflow:hidden
}
.menu a:hover {
	color:inherit;
	text-decoration:none
}
.lesson-error {
	color:#c7254e;
	background-color:#f9f2f4
}
.lesson-info {
	background-color:#d9edf7
}
.lesson-info .date {
	position:relative;
	float:right
}
.lesson-info .action,.lesson-info .substance {
	position:relative;
	float:left;
	padding-right:10px
}
.container a {
	border-bottom:1px dotted #2E214B;
	text-decoration:none;
	cursor:pointer
}
.container a:link {
	border-bottom:1px dotted #2E214B;
	text-decoration:none;
	cursor:pointer
}
.container a:hover,.container a:link:hover {
	color:#2E214B;
	border-bottom:0
}
.lesson-error a, .lesson-error a:link {
	border-bottom:1px dotted #c7254e;
	text-decoration:none;
	cursor:pointer
}
.lesson-error a:hover,.lesson-error a:link:hover {
	color:#910000;
	border-bottom:0
}
.float-right {
	float: right
}
.table-responsive {
	margin-top: 1.5em
}
@media only screen and (max-width:760px) {
	.site-container,.site-pusher {
		height:100%
	}
	.site-container {
		overflow:hidden
	}
	.menu,.site-content {
		overflow-y:scroll;
		-webkit-overflow-scrolling:touch
	}
	.site-pusher {
		transition-duration:.3s;
		-webkit-transform:translateX(0);
		-ms-transform:translateX(0);
		transform:translateX(0)
	}
	.site-content {
		position:absolute;
		top:66px;
		right:0;
		left:0;
		bottom:0;
		padding-top:10px
	}
	.header {
		position:static
	}
	.header-icon {
		position:relative;
		display:block;
		float:right;
		width:50px;
		height:66px;
		cursor:pointer
	}
	.header-icon:after {
		content:'';
		position:absolute;
		display:block;
		width:1rem;
		height:0;
		top:16px;
		left:15px;
		box-shadow:0 10px 0 1px #fff,0 16px 0 1px #fff,0 22px 0 1px #fff
	}
	.menu,.with-sidebar .site-cache {
		position:absolute;
		top:0;
		right:0;
		bottom:0
	}
	.menu {
		background-color:#2E214B;
		width:250px;
		-webkit-transform:translateX(250px);
		-ms-transform:translateX(250px);
		transform:translateX(250px)
	}
	.menu a {
		display:block;
		height:40px;
		padding-left:20%;
		text-align:left;
		line-height:40px;
		outline:0
	}
	.with-sidebar .site-pusher {
		-webkit-transform:translateX(-250px);
		-ms-transform:translateX(-250px);
		transform:translateX(-250px)
	}
	.with-sidebar .site-cache {
		left:0;
		transition:background-color 0.4s ease;
		z-index:800;
		background-color:rgba(0,0,0,0.6)
	}
	.lesson-info .date {
		position:relative;
		float:left;
		padding-right:40px
	}
}
@media print {
	.lesson-info,#notie-alert-text,button,header,textarea {
		display:none
	}
	.site-content {
		padding-top:0 !important;
		top:0;
		right:0;
		left:0;
		bottom: 0
	}
}
